* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

.container {
  gap: 2rem;
  border: 3px solid blue;
  height: 100vh;
}

.content {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.sidebar {
  min-width: 40ch;
  display: flex;
  flex-direction: column;
}

#new-proj-btn {
  padding: .5rem;
  width: 15ch;
  margin: 0 auto 1rem;
}

.main {
  width: 100%;
}

dialog {
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects-container button {
  margin-right: .5rem;
}

.project-card {
  /* margin: 1rem 0; */
  padding: .5rem;
  border-bottom: 1px dotted lightgray;
}

/* selected project highlight */
.active {
  background-color: rgb(199, 196, 196);
}

#nibbles-container button {
  margin-right: .5rem;
}

.nibble-card {
  margin-bottom: 1rem;
}