* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

.container {
  border: 3px solid blue;
  height: 100vh;
}

.content {
  display: flex;
  border: 3px solid orange;
  padding: 1rem;
}

.sidebar {
  border: 2px solid chartreuse;
  min-width: 40ch;
  display: flex;
  flex-direction: column;
}

.main {
  border: 3px solid red;
  width: 100%;
}

dialog {
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card {
  margin: 1rem 0;
}

/* selected project highlight */
.active {
  background-color: rgb(199, 196, 196);
}